<div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="email" formControlName="email" required>
        </div>
  
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" formControlName="password" required>
        </div>
  
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>