<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../assets/img/ati-logo-crop.png" width="250" height="60"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="isLoggedIn === false">
            <a class="nav-link" routerLinkActive="active" routerLink="/add-user">Sign Up</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn === true">
            <button type="button" (click)="logOut()" class="btn btn-danger">Log Out</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
 -->

 <nav class="navbar sticky-top navbar-expand-custom navbar-mainbg">
  <a class="navbar-brand navbar-logo" routerLink="/">
    {{title}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
          <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>Concours</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>Resultats</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Messagerie</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Profil</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/test"><i class="far fa-copy"></i>test</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn === false">
            <a class="nav-link" routerLinkActive="active" routerLink="/login">Sign In</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn === true">
            <a class="nav-link" href="javascript:void(0);" (click)="logOut()">Log Out</a>
          </li>
      </ul>
  </div>
</nav>



<router-outlet></router-outlet>



