<div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
            <img class="mb-4" src="../../assets/img/LOGOS-ISJ.jpg" alt="LOGOS-ISJ" width="400" height="80">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                  <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                  <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">

                    <div class="section text-center">

                      <h4 class="mb-4 pb-3">Log In</h4>

                      <span *ngIf="isSubmittedLogin" class="text-danger">Please fill the whole form !</span>

                        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                            <div class="form-group">
                                <input type="email" name="email" class="form-style" formControlName="email" placeholder="Your Email" id="logemail" autocomplete="off">
                                <i class="input-icon uil uil-at"></i>
                            </div>  

                            <div class="form-group mt-2">
                                <input type="password" name="password" formControlName="password" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                <i class="input-icon uil uil-lock-alt"></i>
                            </div>
                            
                    
                        
                            <button class="btn mt-4" type="submit">Sign in</button>

                            <p class="horizontal-line-text">
                              <span>OR</span>
                            </p>
                        </form>
          

                        <div class="or-button">
                            <button class="btn btn-block google-sign-in" (click)="facebookSignin()">
                                <img src="../../../assets/img/facebook-icon.svg" alt="google" width="25" height="25"/>
                                <span>Continue with Facebook</span>
                            </button>
                            
                            
                            
                            <button class="btn btn-block google-sign-in" (click)="loginWithGoogle()">
                                <img src="../../../assets/img/google-icon.svg" alt="google" width="25" height="25"/>
                                <span>Continue with Google</span>
                            </button>
                        </div>
                        <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a>
                        </p>

                    </div>
                  </div>
                </div>


                <div class="card-back">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Sign Up</h4>

                      <span *ngIf="isSubmittedRegister" class="text-danger">Please fill the whole form !</span>

                      <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">

                    
                        <div class="form-group mt-2">
                          <input type="email" name="email" formControlName="email" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                          <i class="input-icon uil uil-at"></i>
                        </div>  
                        <div class="form-group mt-2">
                          <input type="password" name="password" formControlName="password" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" name="confirmPassword" formControlName="confirmPassword" class="form-style" placeholder="Confirm Your Password" id="logpass" autocomplete="off">
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <input type="hidden" formControlName="role" value="candidat">
                        
                        <button class="btn mt-4" type="submit">Sign Up</button>

                        <p class="horizontal-line-text">
                          <span>OR</span>
                        </p>
                      </form>
                      <div class="or-button">
                        <button class="btn btn-block google-sign-in" (click)="facebookSignup()">
                            <img src="../../../assets/img/facebook-icon.svg" alt="google" width="25" height="25"/>
                            <span>Continue with Facebook</span>
                        </button>
                        
                        
                        
                        <button class="btn btn-block google-sign-in" (click)="signupWithGoogle()">
                            <img src="../../../assets/img/google-icon.svg" alt="google" width="25" height="25"/>
                            <span>Continue with Google</span>
                        </button>
                    </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>