<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Users List</h2>
    </div>
  
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users; let i = index">
            <th scope="row">{{user._id}}</th>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td class="text-center">
              <a class="btn btn-sm btn-primary" routerLink="/edit-user/{{user._id}}">Edit</a>
              <button class="btn btn-sm btn-danger" (click)="delete(user._id, i)">Delete</button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>