/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1055%26quot%3b)' fill='none'%3e%3cpath d='M111.32366551780046 79.63152322787538L164.58089101633482 211.44778190872483 296.39714969718426 158.19055641019045 243.1399241986499 26.37429772934101z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1155.348357372638 501.2242367353176L1150.830388490917 371.84653551401993 1021.4526872696192 376.36450439574105 1025.9706561513403 505.74220561703873z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1350.4026199020802 452.42777267819497L1428.8613339986312 494.1450109593624 1470.5785722797987 415.68629686281156 1392.1198581832477 373.9690585816441z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M238.69261589926225 247.94758944076256L213.55037045509934 406.6894796961778 372.2922607105146 431.8317251403407 397.4345061546775 273.08983488492544z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M511.59593546875703 211.7930339103704L382.2745208568052 130.98404537380267 301.46553232023746 260.3054599857545 430.78694693218927 341.1144485223223z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M198.7648778303276 430.8007845350976L320.3346389215501 360.6124502437617 250.14630463021422 239.0426891525392 128.5765435389917 309.2310234438751z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1316.3356214856367 473.6972750492261L1407.246032484063 444.1586919232087 1377.7074493580458 353.2482809247823 1286.7970383596194 382.7868640507997z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1185.6975187164712 66.94709159700771L1162.2753113444633 148.63003589278557 1243.958255640241 172.05224326479362 1267.380463012249 90.36929896901574z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1086.4999570564432 226.34364416518375L1086.4999570564432 330.6089613761439 1190.7652742674034 330.60896137614384 1190.7652742674034 226.34364416518372z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M451.2178573542757 134.04853179293508L306.51194712759116 204.6263199685751 377.0897353032312 349.3322301952596 521.7956455299156 278.7544420196196z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M797.3609315773472 1.775453764645718L884.9184802607201 106.12247696679773 989.2655034628721 18.564928283424834 901.7079547794992-85.78209491872718z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M657.6392749025729 368.58097614208896L693.9123126807577 480.2179073553445 805.5492438940132 443.9448695771596 769.2762061158284 332.3079383639041z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M442.04068434966064 364.26709157541177L350.01630182192605 242.14661127916577 227.89582152568002 334.17099380690036 319.92020405341464 456.29147410314636z' fill='rgba(0%2c 92%2c 255%2c 0.58)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1055'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  